/* CSS Reset -Josh Comeau */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #FBFFF1;
  color: #3C3744;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;

  background-color: #B4C5E4;
}

.content {
  padding: 2rem;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.book {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: repeat(2, 1fr);

  margin: 3rem;

  width: 15rem;
  height: 22.5rem;
  position: relative;
  background-color: pink;
  color: black;
}

.book > * > *:not(img) {
  color: black;
  padding: 1px;
  margin: 8px;
  text-shadow: 1px 2px white;
}

.cover img {
  width: 15rem;
  height: 22.5rem;
  position: absolute;

  border-radius: 4px;
}

.book-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    'pages title remove';

  align-items: center;

  width: 15rem;
  position: absolute;
  top: -4rem;
}

.pages {
  grid-area: pages;  

  justify-self: start;
}

.title {
  grid-area: title;
  
  justify-self: center;
}

.remove-book {
  grid-area: remove;

  justify-self: end;
}

.book-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
    'id author year read';

  align-items: center;
  align-content: center;

  width: 15rem;
  position: absolute;
  bottom: -2.75rem;
}

.year {
  grid-area: year;

  justify-self: start;
}

.author {
  grid-area: author;

  justify-self: end;
}

.ID {
  grid-area: id;
  font-size: 0.5rem;

  justify-self: start;
}

.read {  
  grid-area: read;
  
  justify-self: end;
}

button {
  background-color: #3C3744;
  color: white !important;
  text-shadow: none !important;
  border: none !important;
  border-radius: 4px;
  padding: 0px 8px !important;  
  max-height: 2rem;
}

/* Restore native centering for <dialog> */
.modal[open] {
  inset: 0;        /* gives edges for auto margins to resolve against */
  margin: auto;    /* re-enable centering */
}

/* (optional) nice backdrop */
.modal::backdrop {
  background: linear-gradient(45deg, #090C9B, #3D52D5);
  opacity: 0.4;
}

.modal {
  min-width: 50%;
  border: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-top {
  display: flex;
  justify-content: space-between;
}

.form-bottom {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 2rem;
}

.form-control {
  position: relative;
}

.form-control span {
  position: absolute;
  left: 4px;
  bottom: 32px;
}

input {
  width: 100%;
}

p {
  font-size: 0.7rem;
}

h3 {
  font-size: 0.8rem;
}